* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sfondo {
  width: 100vw;
  background-image: url("immagini/background.jpg");
  height: 100vh;
  background-size: cover;
  padding-top: 4vh;
}

.corpo {
  width: 62vw;
  height: 85vh;
  background-color: rgba(0,0,0,0.5);
  margin: auto;
  padding-top: 8vh;
}

.logo-lim {
  width: 12vw;
  height: 9vh;
  margin:auto;
}

.logo-lim > img {
  width: 100%;
}

.title {
  color:  #39ff14;
  text-align: center;
  margin-top: 4vh;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}

.reservation-bar {
  width: 50vw;
  height: 5vh;
  background-color:  #39ff14;
  margin: auto;
  text-align: center;
  line-height: 5vh;
}

.reservation-bar > input {
  font-size: 9px;
  padding: 1px;
  text-align: center;
}

section .options {
  width: 50vw;
  margin: auto;
  margin-top: 3vh;
}

span {
  margin-left: 0.5vw;
  color: white;
  font-size: 17px;
}

p {
  font-size: 12px;
  color: white;
  margin-top: 4px;
}

main {
  margin-top: 3px;
}

.charge-level {
  width: 18vw;
  height: 3vh;
  background-color: #ff7514;
  border-radius: 5px;
  margin-top: 3px;
}

#red {
  background-color: #75151e;
  width: 7vw;
  height: 3vh;
}

#green {
  background-color: green;
  width: 29vw;
  height: 3vh;
}
